html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	background: no-repeat center/cover url(img/bg.jpg);
}

.slider {
	position: fixed;
	top: 50%;
	min-width: 1000px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slide-wrapper::after {
	content: '';
	display: table;
	clear: both;
}

.slide {
	max-height: 600px;
	float: left;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button {
	position: absolute;
	top:  50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background: none;
	border:  none;
	cursor: pointer;
	outline:  none;
}

button.slide-left {
	left: 10px;
}


button.slide-right {
	right:  10px;
}

.slide-toggle, .slide-right, .slide-left {
	position: absolute;
}

.slide-toggle {
	display: flex;
	justify-content: space-between;
	width: 15%;
	position: absolute;
	top: 130%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slide-toggler {
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	cursor: pointer;
}

.active-toggler {
	background-color: #fff;
}

.active-slide {
	-webkit-transition: all .4s;
	-moz-transition: all .4s;	
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-box-shadow:  0 0 2px 5px rgba(150,150,150, .5);
	-moz-box-shadow:  0 0 2px 5px rgba(150,150,150, .5);
	box-shadow: 0 0 16px 4px rgba(255,255,255, .5);
}