body {
	-webkit-font-smoothing: antialiased;
}

.slider {
	background: #ccc;
	position: relative;
	overflow: hidden;
}

.slide-wrapper::after {
	content: '';
	display: table;
	clear: both;
}

.slide {
	max-height: 600px;
	float: left;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button {
	position: absolute;
	top:  50%;
	transform: translateY(-50%);
	background: none;
	border:  none;
	cursor: pointer;
	outline:  none;
}

button.slide-left {
	left:  10px;
}


button.slide-right {
	right:  10px;
}

.slide-toggle, .slide-right, .slide-left {
	position: absolute;
}

.slide-toggle {
	display: flex;
	justify-content: space-between;
	width: 15%;
	position: absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slide-toggler {
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	cursor: pointer;
}

.active-toggler {
	background-color: #fff;
}